POSTGRES_USER=momentum
POSTGRES_PASSWORD=momentum
POSTGRES_DB=postgres

RABBITMQ_USER=momentum
RABBITMQ_PASSWORD=momentum

JWT_SECRET=change-me-to-a-256-bit-secret-key-please-use-openssl
JWT_ACCESS_MINUTES=15
JWT_REFRESH_DAYS=7

BOOTSTRAP_USER_EMAIL=you@momentum.local
BOOTSTRAP_USER_PASSWORD=ChangeMeNow!

CONFIG_SERVER_USER=config
CONFIG_SERVER_PASSWORD=config

EUREKA_USER=eureka
EUREKA_PASSWORD=eureka

CORS_ORIGINS=http://localhost:4200
