target/
.idea/
*.iml
.vscode/
.classpath
.project
.settings/
*.log
.env
.env.local
node_modules/
dist/
.angular/
coverage/
*.class
.mvn/wrapper/maven-wrapper.jar
postgres-data/
rabbitmq-data/
**/application-local.yml
.DS_Store
Thumbs.db
